$list-height: 400px;
$sep-color: #bfbfbf;
#bms-list {
	table {
		width: 100%;
		.width-content {
			width: 1%;
		}
		.width-fill {
			* {
				width: 100%;
			}
		}
	}
	#list-container {
		width: 40%;
		height: $list-height;
		overflow-y: scroll;
		margin-left: -$space;
		border-right: 1px solid $shadow-color;
		margin-top: -$space-small;
		margin-bottom: -$space-small;
		.list-item {
			padding: $space-smaller / 2 $space-small;
			border-top: 1px solid $sep-color;
			transition: background-color 200ms, box-shadow 200ms;
			cursor: pointer;
			&:first-child {
				margin-top: $space-small;
			}
			&:last-child {
				margin-bottom: $space-small;
				border-bottom: 1px solid $sep-color;
			}
			&.selected, &:hover {
				box-shadow: inset -5px 0 0 lighten(saturate($accent-color, 20%), 10%);
				background-color: $shadow-color-weak;
			}
		}
	}
	#item-info {
		position: relative;
		width: 60%;
		height: $list-height - $space-small * 2;
		tr td {
			padding-top: $space;
		}
		tr:nth-child(3) td {
			padding-top: $space * 2;
		}
		tr:nth-child(2), tr:first-child {
			td {
				padding-top: 0;
			}
		}
		.align-bottom {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;

		}
		.actions-container {
			padding-top: $space;
		}
		.non-empty {
			display: none;
		}
		.empty-notation {
			display: block;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}