#bms-edit {
	select {
		box-sizing: border-box !important;
	}
	bdo[dir=ltr] {
		input[type=text], input[type=number] {
			text-align: center;
		}
	}
	table {
		width: 100%;
		label {
			white-space: nowrap;
		}
		.width-content {
			width: 1%;
		}
		.width-fill {
			* {
				width: 100%;
			}
		}
		$block-size: 60px;
		.width-1 {
			width: $block-size;
			* {
				width: 100%;
			}
		}
		.width-1-5 {
			width: $block-size * 1.5;
			* {
				width: 100%;
			}
		}
		.width-2 {
			width: $block-size*2;
			* {
				width: 100%;
			}
		}
		.width-2-5 {
			width: $block-size*2.5;
			* {
				width: 100%;
			}
		}
		.width-3 {
			width: $block-size*3;
			* {
				width: 100%;
			}
		}
		.width-4 {
			width: $block-size*4;
			* {
				width: 100%;
			}
		}

		&.two-lines-inputs {
			tr {
				text-align: center;
				td {
					padding-left: $space-small;
					&:last-child {
						padding-left: 0;
					}
				}
			}
		}

		tr td.sep-left {
			border-left: 1px solid $shadow-color-strong;
		}
		tr td.sep-left-pad {
			padding-right: $space-small;
		}
	}
	.one-line-inputs {
		label {
			display: block;
			margin-right: $space;
			margin-left: $space-smaller;
		}
		td:first-child label {
			margin-right: 0;
		}
		tr > td {
			padding-bottom: $space-small;
		}
		tr:last-child > td {
			padding-bottom: 0;
		}
	}

	.row {
		margin-left: -$space;
		margin-right: -$space;
		div {
			padding: $space-small $space;
			margin-top: -$space-small;
			margin-bottom: -$space-small;
			border-left: 1px solid $shadow-color-strong;
			&:last-child {
				border-left: 0;
			}
		}
		.col-1-4 {
			tr {
				text-align: left;
			}
		}
	}

	[name=person_gov_id] {
		letter-spacing: 5px;
	}

	#dep-table {
		border-spacing: $space-smaller;
		label {
			font-size: $input-font-size;
		}
	}
}