#bms-edit {
	select {
		box-sizing: border-box !important;
	}
	bdo[dir=ltr] {
		input[type=text], input[type=number] {
			text-align: center;
		}
	}
	table {
		width: 100%;
		label {
			white-space: nowrap;
		}
		.width-content {
			width: 1%;
		}
		.width-fill {
			* {
				width: 100%;
			}
		}
		$block-size: 60px;
		.width-1 {
			width: $block-size;
			* {
				width: 100%;
			}
		}
		.width-2 {
			width: $block-size*2;
			* {
				width: 100%;
			}
		}
		.width-3 {
			width: $block-size*3;
			* {
				width: 100%;
			}
		}
		.width-4 {
			width: $block-size*4;
			* {
				width: 100%;
			}
		}

		&.two-lines-inputs {
			tr {
				td {
					padding-left: $space-small;
					&:last-child {
						padding-left: 0;
					}
				}
			}
		}
	}
	#person-info-table {
		label {
			display: block;
			margin-right: $space-small;
			margin-left: $space-smaller;
		}
		td:first-child label {
			margin-right: 0;
		}
		tr:first-child > td {
			padding-bottom: $space-small;
		}
		[name=person_gov_id] {
			letter-spacing: 8px;
		}
	}
}