#login-section {
	.container {
		width: 350px;
	}

	form {
		label, input[type=text], input[type=password] {
			display: block;
		}
		table {
			width: 100%;
			td {
				input[type=text], input[type=password] {
					width: 100%;
				}
			}
			label {
				margin-top: $space-smaller;
			}
			tr:first-child {
				label {
					margin-top: 0;
				}
			}
			tr:last-child {
				button {
					display: block;
					float: left;
					margin-top: $space-small;
				}

				&::after {
					@include clearfix;
				}
			}
		}
	}
}