#list-section {
	@include flexing(column, flex-start, flex-start);
	.container {
		flex: 1 0 auto;
		min-height: 500px;
		margin-bottom: $space;

		@include flexing(column, flex-start, stretch);
	}
	.card {
		flex: 1 0 auto;
		.card-section:first-child {
			@include flexing(row, flex-start, stretch);

			input[type=text] {
				flex: 1 0 auto;
				margin-left: $space-small;
			}

			.btn-group {
				margin-left: $space-small;
				&:last-child {
					margin-left: 0;
				}
			}
		}
		.card-list .card-list-item {
			transition-property: background-color, border-right-width;
			transition-duration: 200ms;
			* {
				float: right;
				&:last-child {
					float: left;
				}
			}
			&.mention {
				border-right: solid 4px $apps-mention;
			}
			&:hover {
				border-right-width: 8px;
			}
			@include clearfix;
		}
	}
}