#cms-new {
	.top-inputs {
		label.u-fr {
			padding-left: 10px;
		}
		input[name=subject] {
			width: 200px;
		}
	}
	.middle-inputs {
		width: 100%;
		display: table;
		.committees-info, textarea {
			display: table-cell;
			vertical-align: top;
		}
		textarea {
			width: 100%;
			min-height: 250px;
			resize: vertical;
		}
		.committees-info {
			width: 300px;
			padding-left: $space-small;
			.workflow-container {
				margin-top: $space-small;
				padding-top: 1px; // fix ie problem
			}
		}
	}
	.workflow-item {
		display: table;
		width: 100%;
		padding-bottom: $space-smaller;
		&:last-child {
			padding-bottom: 0;
		}
		label {
			display: table-cell;
			width: 25px;
			vertical-align: middle;
		}
		select {
			display: table-cell;
			width: 100%;
		}
	}
}