#home {
	padding: 0;
	
	$banner-height: 575px * 0.5;
	$banner-width: 2000px * 0.5;

	.top-section {
		display: table;
		border-bottom: solid 1px $shadow-color-strong;
		#services, #clock-container {
			display: table-cell;
		}
		#services {
			width: 100%;
		}
		#clock-container {
			min-width: 300px;
			vertical-align: middle;
			text-align: center;
			border-left: solid 1px $shadow-color-strong;
			.digital {
				font-size: 1.3em;
				margin-bottom: -$space-small;
				margin-top: $space-smaller;
			}
			.date {
				font-size: 0.9em;
			}
		}
	}
	#services {
		display: table;
		padding: $space-small;
		margin-top: $space;
		margin-bottom: $space;
		> h2 {
			display: table-cell;
			font-size: 1.05em;
			margin-left: $space-small;
			font-weight: bold;
			text-align: center;
			float: right;
			min-width: 10px;
		}
		> .services-row {
			width: 800px;
			display: table-cell;
			@include decorated-block($accent-color);
			border-radius: $radius-large;
			div {
				width: 33.33%;
				float: right;
				text-align: center;
				border-left: solid 1px darken($accent-color, 15%);
				box-shadow: inset 1px 0 0 $highlight-color;
				&:last-child {
					border-left: none;
				}
			}
		}
	}

	.slide-show {
		background: #BFBFBF;
		border: solid 1px white;
		box-shadow: 0 1px $shadow-color-strong;
		position: relative;
		.slide-show-next-btn, .slide-show-prev-btn {
			cursor: pointer;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			margin: 0 $space-small;
		}
		.slide-show-next-btn {
			left: 0;
		}
		.slide-show-add-btn {
			right: 0;
		}

		.slide-show-image {
			transition-property: background-image;
			transition-duration: 400ms;
			background-image: url('banner2.jpg');
			background-size: $banner-width $banner-height;
			background-position: 50%;
			width: 100%;
			height: 180px;
		}
	}
	#cards {
		.cards-col {
			width: 50%;
			padding: $space;
			&:first-child {
				padding-left: 0;
			}
			.card {
				padding-bottom: $space;
				&:last-child {
					padding-bottom: 0;
				}
			}
		}
		.card {
			.subject {
				border-bottom: solid 2px $theme-color-dark;
				h3 {
					font-weight: normal;
					font-size: .95em;
					display: inline-block;
					padding: $space-smaller / 2 $space;
					@include decorated-block;
					border-top-left-radius: $radius-small;
					border-top-right-radius: $radius-small;
				}
			}
			.content-box {
				border-left: solid 1px $shadow-color-stronger;
				border-right: solid 1px $shadow-color-stronger;
				border-bottom: solid 1px $shadow-color-stronger;
			}
		}
	}
	#card-news {
		.content-box {
			padding: $space-smaller;
			line-height: 1em;
			.news-item {
				height: 50px;
				box-sizing: content-box;
				margin-bottom: $space-smaller;
				display: table;
				width: 100%;
				color: inherit;
				&:hover {
					background-color: $shadow-color-weak;
				}
				&:last-child {
					margin-bottom: 0;
				}
				img {
					display: table-cell;
					margin-left: $space-smaller;
					display: block;
					width: 100px;
					height: 50px;
					background-color: #BFBFBF;
					border-spacing: 0px;
				}
				.news-text {
					width: 100%;
					display: table-cell;
					vertical-align: middle;
					span {
						display: block;
						font-size: 0.8em;
					}
				}
				@extends .u-cf;
			}
		}
	}
	#card-twitter iframe {
	}
	#card-donation {
		.content-box {
			padding: $space-smaller $space-small;
		}
	}
	#card-ibans {
		.content-box {
			table {
				border-spacing: 2px;
				color: white;
				width: 100%;
				td {
					padding: $space-smaller / 2 $space-smaller;
					&:first-child {
						text-align: left;
					}
					&:last-child {
						text-align: center;
						min-width: 260px;
					}
				}
			}
		}
	}
}
