$inset-shadow: inset 0 2px 3px $shadow-color-weak;
input, button, textarea, select, .button {
	font-size: $input-font-size;
}
button, input[type=submit], .button {
	cursor: pointer;
	@include decorated-block($input-color, false);
	padding: $space-smaller / 2 $space-small;
	border-radius: $radius-small;
	transition: background-color 100ms;
	&:hover {
		color: white;
		background-color: $input-color-hover;
		border-color: $input-color;
	}
	&:focus {
		color: white;
		box-shadow: inset 0 1px 0 $highlight-color-stronger,
		0 0 15px $input-color-focus;
	}

	&.danger {
		background-color: $input-danger-color;
		border-color: darken($input-danger-color, 10%);
		&:hover {
			background-color: lighten($input-danger-color, 10%);
		}
	}
	&.normal {
		background-color: $input-normal-color;
		border-color: darken($input-normal-color, 10%);
		&:hover {
			background-color: lighten($input-normal-color, 10%);
		}	
	}
}

input[type=text], input[type=password], input[type=number],input[type=date], select, textarea {
	padding: $space-smaller / 2 $space-small;
	border-radius: $radius-small;
	border: 1px solid $shadow-color-stronger;
	box-shadow: $inset-shadow;
	&:focus {
		border-color: $input-color-hover;
		box-shadow: $inset-shadow,
		0 0 15px $input-color-focus;
	}
	&[readonly] {
		background-color: rgba(0, 0, 0, 0.04);
		&:focus {
			border-color: darken($input-color-hover, 10%);
		}
	}
}

select {
	padding: $space-smaller / 2 $space-smaller / 2;
}

.inputs-container {
	display: flex;
	.input {
		margin-left: $space-small;
		&.label {
			margin-left: $space-smaller;
		}
		&:last-child {
			margin-left: 0;
		}
	}
	.fill-width {
		flex: 1 0 auto;
	}
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

[data-role=tac] {
	position: relative;
	ul {
		border-radius: $radius-small;
		display: none;
		position: absolute;
		margin-top: 2px;
		border: 1px solid darken($input-color-hover, 10%);
		list-style: none;
		box-shadow: 0 4px 13px $shadow-color;
		background-color: white;
		li {
			cursor: pointer;
			border-bottom: 1px solid darken($input-color-hover, 10%);
			padding: $space-smaller / 2 $space-small;
			font-size: $input-font-size;

			&:first-child {
				border-top-left-radius: $radius-small;
				border-top-right-radius: $radius-small;
			}

			&:last-child {
				border-bottom: none;
				border-bottom-left-radius: $radius-small;
				border-bottom-right-radius: $radius-small;
			}

			&:hover {
				background-color: saturate(lighten($input-color-focus, 40%), 5%);
			}
		}
	}
}