$inset-shadow: inset 0 2px 3px $shadow-color-weak;
input, button, textarea, select {
	font-size: $input-font-size;
}
button, input[type=submit] {
	cursor: pointer;
	@include decorated-block($input-color, false);
	padding: $space-smaller / 2 $space-small;
	border-radius: $radius-small;
	transition: background-color 100ms;
	&:hover {
		background-color: $input-color-hover;
		border-color: $input-color;
	}
	&:focus {
		box-shadow: inset 0 1px 0 $highlight-color-stronger,
		0 0 15px $input-color-focus;
	}
}

input[type=text], input[type=password], input[type=number], select, textarea {
	padding: $space-smaller / 2 $space-small;
	border-radius: $radius-small;
	border: 1px solid $shadow-color-stronger;
	box-shadow: $inset-shadow;
	&:focus {
		border-color: $input-color-hover;
		box-shadow: $inset-shadow,
		0 0 15px $input-color-focus;
	}
	&[readonly] {
		background-color: rgba(0, 0, 0, 0.04);
		&:focus {
			border-color: darken($input-color-hover, 10%);
		}
	}
}