input, select, textarea, button {
	font-size: $inputs-font-size;
	&:focus {
		box-shadow: 0 0 $radius $highlight;
	}
}

.btn {
	font-size: $inputs-font-size;
	cursor: pointer;
	border-radius: $radius-small;
	border: solid 2px $accent-dark;
	padding: $space-smaller - 4px $space-small - 2px;
	color: $accent-darker;
	background: $accent-normal;
	&:hover {
		background: $accent-dark;
		color: white;
		&.dark {
			background: $accent-light;
			color: $accent-darker;
		}
	}

	&.dark {
		border: 0;
		padding: $space-smaller $space;
	}
}

.et {
	padding: $space-smaller / 2 $space-smaller;
	border-radius: $radius-small;
	border: solid 1px $shadow-strong;
	box-shadow: inset 0px 2px 2px $shadow-weak;
	&:focus {
		border-color: darken($highlight-strong, 10%);
		&[readonly] {
			box-shadow: inset 0px 2px 2px $shadow-weak;
		}
	}
	&[readonly] {
		background: $background-card;
	}

}

.btn-group {
	.btn-group-item {
		@extend .btn;

		float: right;
		display: block;
		border-radius: 0;
		border-right: 0;
		border-left: solid 2px $accent-dark;
		&:first-child {
			border-top-right-radius: $radius-small;
			border-bottom-right-radius: $radius-small;
			border-right: solid 2px $accent-dark;
		}

		&:last-child {
			border-top-left-radius: $radius-small;
			border-bottom-left-radius: $radius-small;
		}
		&.selected {
			@extend .btn:hover;
		}
		&:focus {
			border-color: $accent-dark;
			box-shadow: none;
		}
	}
	&::after {
		@include clearfix;
	}
}