#login {
	#login-form {
		width: 350px;
		margin: $space auto;
		div {
			width: 100%;
			input {
				width: 100%;
			}
			&:nth-child(3) {
				margin-top: $space-small;
			}
			&:last-child {
				margin-top: $space;
			}
		}
	}
}