#login {
	#login-form {
		width: 350px;
		margin: $space auto;
		div {
			width: 100%;
			input {
				width: 100%;
			}
			&:nth-child(3), &:nth-child(5) {
				margin-top: $space-small;
			}
		}

		#message {
			text-align: center;
			padding-top: $space-smaller;
			font-size: 0.8em;
		}
	}
}