@mixin decorated-block($color: $theme-color, $include-image: true) {
	border: solid 1px darken($color, 10%);
	box-shadow: inset 0 1px 0 $highlight-color-stronger;
	@if $include-image {
		background-image: url('nav-pattern.svg');
	}
	background-color: $color;
	color: $text-color-dark;
}

@mixin flexing($dir, $justify: null, $align: null) {
	display: flex;
	flex-direction: $dir;
	justify-content: $justify;
	align-items: $align;
}

@mixin image-border {
	border: 1px solid $shadow-color;
	box-shadow: inset 0 1px 0 white, inset 0 -1px 0 white, inset 1px 0 0 white, inset -1px 0 0 white;
}