#news-edit {
	#editor {
		border-radius: 0;
		border: 0;
		shadow: none;
		visibility: hidden;
	}
	input[name^=date], input[name^=time] {
		width: 45px;
		text-align: center;
	}
	input[name^=date] {
		width: 60px;
	}
	input[name=date-year] {
		width: 80px;
	}
	input[name=header_image] {
		text-align: left;
	}
}