$post-item-width: 230px;
$post-item-height: 100px;
#news-list {
	h4 {
		margin-bottom: $space-smaller;
	}
	.news-container {
		> .post-item {
			font-size: 0.9em;
			margin-bottom: $space-small;
			cursor: default;
			margin-left: $space-small;
			float: right;
			width: $post-item-width;
			height: $post-item-height;
			background-color: #B9B9B9;
			box-shadow: 0 0px 0px $shadow-color;
			border-radius: $radius-small;
			transition: box-shadow 170ms;
			background-size: cover;
			background-position: 50%;

			position: relative;
			> .post-item-checkbox {
				position: absolute;
				top: $space-smaller;
				right: $space-smaller;
				box-shadow: 0 0 7px white;
			}
			> .post-item-title {
				position: absolute;
				bottom: 0;
				left: 0;
				width: $post-item-width;
				text-align: center;
				background-color: $shadow-color-strong;
				color: white;
				border-bottom-right-radius: $radius-small;
				border-bottom-left-radius: $radius-small;
				padding: 1px $space-smaller;
			}
			> .post-item-date {
				position: absolute;
				top: 0;
				left: 0;
				text-align: center;
				background-color: $shadow-color-strong;
				color: white;
				font-size: 0.7em;
				padding: 1px 7px;
				border-bottom-right-radius: $radius-small;
				border-top-left-radius: $radius-small;
			}

			> .post-item-actions {
				z-index: 1000;
				width: $post-item-width;
				height: $post-item-height;
				text-align: center;
				border-radius: $radius-small;
				transition: background-color 170ms;

				display: table;
				> div {
					display: table-cell;
					vertical-align: middle;
					font-size: 1.3em;

					> a {
						visibility: hidden;
						background-color: $shadow-color;
						display: inline-block;
						border: 1px solid white;
						box-shadow: none;
						width: 35%;
						margin-left: $space-small / 3;
						margin-right: $space-small / 3;
						padding-top: $space-smaller / 4;
						padding-bottom: $space-smaller / 4;
						&:hover {
							background-color: $shadow-color-strong;
						}
					}
				}
			}

			&:hover {
				box-shadow: 0 7px 17px $shadow-color;
				> .post-item-actions {
					background-color: $shadow-color-strong;
					> div > a {
						visibility: visible;
					}
				}
			}
		}
		&:after {
			display: block;
			content: '';
			clear: both;
		}
	}
}