#orgchart {
	cursor: default;
	#chart2 {
		margin-top: $space-larger;
	}
	.google-visualization-orgchart-table {
		margin: 0 auto;
	}
	.google-visualization-orgchart-node {
		transition: background-color 100ms;
		line-height: 1.2em;
		font-family: $font-family;
		@include decorated-block($accent-color);
		padding: $space-smaller / 2 $space-smaller;
	}
	tr:nth-child(2) {
		.google-visualization-orgchart-node {
			@include decorated-block($theme-color);
			font-weight: bold;
			min-width: 80px;
		}
	}
	.google-visualization-orgchart-linenode {
		border-color: black;
		border-width: 2px;
	}
	a {
		color: inherit;
	}

	#tooltip {
		$tooltip-backcolor: #E3B968;
		display: none;
		position: fixed;
		padding: $space-smaller $space-small;
		@include decorated-block($tooltip-backcolor);
		color: darken($tooltip-backcolor, 40%);
		border-radius: $radius-small;
		box-shadow: inset 0 1px 0 $highlight-color-stronger,
		0 5px 15px $shadow-color-strong;
	}

	.member-item {
		border-right: solid 2px $theme-color;
		margin-bottom: $space-small;
		margin-right: 2px;
		padding-right: $space-small;
		> span {
			margin-top: -$space-smaller;
			display: block;
			color: #7F7F7F;
		}
	}
}
