$max-width: 950px;
$inputs-font-size: .8em;

$radius-small: 6px;
$radius: 12px;
$radius-large: 24px;

$space-smaller: 6px;
$space-small: 12px;
$space: 18px;
$space-large: 24px;
$space-larger: 30px;

$focus-color-base: #00AEFF; // private
$focus-color: transparentize($focus-color-base, .4);
$focus-color-weak: transparentize($focus-color-base, .5);
$focus-color-strong: transparentize($focus-color-base, 0);

$shadow-color: rgba(0, 0, 0, .2);
$shadow-color-weak: rgba(0, 0, 0, .1);
$shadow-color-strong: rgba(0, 0, 0, .4);
$shadow-color-stronger: rgba(0, 0, 0, .55);

$highlight-color: rgba(255, 255, 255, .2);
$highlight-color-weak: rgba(255, 255, 255, .1);
$highlight-color-strong: rgba(255, 255, 255, .4);
$highlight-color-stronger: rgba(255, 255, 255, .55);

$theme-color: #284B2D;
$theme-color-dark: #172A1B;
$theme-color-light: #358C43;

$accent-color: #7F5736;

$text-color-light: #234228;
$text-color-dark: white;

$text-color-link: #349CDD;
$text-color-link-hover: #4FBCFF;

$text-color-footer: #606060;